# Testing MariaDB queries with Jupyter Magic Commands

### Dependencies

In [ ]:
# %%bash
# pip install --user sqlalchemy # ORM for databases
# pip install --user ipython-sql # SQL magic function
# pip install --user pymysql # SQL driver

### Initialise notebook magic

In [ ]:
%load_ext sql
%config SqlMagic.autocommit=False # for engines that do not support autommit

### 1. Connect to Database
In the format: `mysql+mysqldb://<username>:<password>@<hostname>:<port>/<database>`

Assuming a localhost instance of MariaDB is used:

In [ ]:
%sql mysql+pymysql://myusername:mypassword@hostname:5432/

Testing the connection:

In [ ]:
%sql SELECT 1 as "Test"

### 2. Creating a Table

In [ ]:
%%sql 
DROP TABLE IF EXISTS links;

In [ ]:
%%sql

CREATE TABLE links (
  id SERIAL PRIMARY KEY,
  url VARCHAR(255) NOT NULL,
  name VARCHAR(255) NOT NULL,
  description VARCHAR (255),
  last_update DATETIME DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP
);

### 3. Inserting a row into a table

In [ ]:
%%sql
INSERT INTO links (url, name)
VALUES('https://www.apple.com','Apple');

### 4. Querying from a table

In [ ]:
%%sql
SELECT * from links LIMIT 10;

### 5. Updating a row

In [ ]:
%%sql
UPDATE links SET description = 'Homepage of Apple Inc.' WHERE name = 'Apple';

### 6. Magic: Saving an SQL result into a Python object

In [ ]:
%%sql result_set << 
SELECT * from links LIMIT 10;

In [ ]:
result_set

In [ ]:
type(result_set)

# 7. Converting into a Pandas DataFrame

In [ ]:
from pandas import DataFrame
df = result_set.DataFrame()

In [ ]:
df